body {
  background-color: #333 !important;
}
.form, .result {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px auto;

}

nav{
  clear: both;
  color: white;
  background-color: #198754;
  height: 30px;
  padding-bottom: 10px;
}

nav li{
  display: inline;
  margin-right: 40px;
}

nav a{
  color: white;
}

nav a:hover{
  color: black;
}

nav ul{
  margin: 0px;
  padding: 5px 0px 5px 30px;
}